[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
biopython = "*"
lap = "*"
matplotlib = "<3"
networkx = "<2"
numba = "<=0.42.0"
numpy = "<1.15.0"
polo = {ref = "master",git = "https://github.com/adrianveres/polo",editable = true}
python-louvain = "*"
pysam = "*"
PyYAML = "<4"
scipy = "*"
seaborn = "*"
sparse = "*"
tqdm = "*"
typing = "*"
llvmlite = "<0.27.1"

[requires]
python_version = "2.7"

[pipenv]
allow_prereleases = true
