-i https://pypi.org/simple
-e git+https://github.com/adrianveres/polo@7c1fe6893d4874a0097f10c42f4a86c5ca77388e
backports.functools-lru-cache
biopython
m3-cdecimal
cycler
cython
decorator
enum34
funcsigs
kiwisolver
lap
llvmlite
matplotlib
networkx
numba
numpy
pandas
pyparsing
pysam
python-dateutil
python-louvain
pytz
pyyaml
scipy
seaborn
singledispatch
six
sparse
subprocess32
tqdm
typing
