-i https://pypi.org/simple
-e git+https://github.com/adrianveres/polo@7c1fe6893d4874a0097f10c42f4a86c5ca77388e#egg=polo
backports.functools-lru-cache==1.5
biopython==1.73
m3-cdecimal
cycler==0.10.0
cython==0.29.5
decorator==4.3.2
enum34==1.1.6
funcsigs==1.0.2
kiwisolver==1.0.1
lap==0.4.0
llvmlite==0.27.0
matplotlib==2.2.3
networkx==1.11
numba==0.42.0
numpy==1.14.6
pandas==0.24.1
pyparsing==2.3.1
pysam==0.15.2
python-dateutil==2.8.0
python-louvain==0.13
pytz==2018.9
pyyaml==3.13
scipy==1.2.1
seaborn==0.9.0
singledispatch==3.4.0.3
six==1.12.0
sparse==0.6.0
subprocess32==3.5.3
tqdm==4.31.1
typing==3.6.6
